@page "/"
<div >

    <!-- LOADER -->
    <!-- <div id="preloader">
        <img class="preloader" src="images/loaders/loader-app.gif" alt="">
    </div> end loader -->
    <!-- END LOADER -->

    <header style="background-color:whitesmoke;" class="header header_style_01">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img style="height:35px;" src="@devInfo.FavIcon" alt="image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarApp"
                        aria-controls="navbarApp" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarApp">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">Home</a></li>
                        @* <li><a class="nav-link" href="#wrapper">Apps</a></li>
                        <li><a class="nav-link" href="#featuredappdiv">Features</a></li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div id="AdBlock">
    </div>




    <div style="margin-top:40px;" class="wrapper" id="wrapper">

        <div class="inner">
            @* <style  scoped>

            </style>*@
            <!-- Section -->
            <section class="main">
                <header class="major">
                    <!-- Wrapper -->
                    <h2 class="featuredheader">Featured Products</h2>
                </header>
                <div class="features">
                    <section>
                        <!--<span class="icon fa-camera major accent2"></span>-->
                        <a href="/systempanel">
                            <img style="margin:auto;" src="images/appicons/appicon.png">
                            <h3>SystemPanel 2</h3>
                            <p>Keep your Android in perfect running order.</p>
                        </a>
                    </section>
                    <section>
                        <a href="/fx">
                            <img style="margin:auto;" src="images/appicons/appicon.png">
                            <h3>FX File Explorer</h3>
                            <p>The file manager that lets you do real work on your Android.</p>
                        </a>
                    </section>
                    <section>
                        <a href="/atlas">
                            <img style="margin:auto;" src="images/appicons/appicon.png">
                            <h3>Atlas Web Browser</h3>
                            <p>Browse without draining your battery or your mind.</p>
                        </a>
                    </section>
                    <section>
                        <a href="/atlas">
                            <img style="margin:auto;" src="images/appicons/appicon.png">
                            <h3>Atlas Web Browser</h3>
                            <p>Browse without draining your battery or your mind.</p>
                        </a>
                    </section>
                </div>
            </section>

        </div>
    </div>
    <div class="parallax section noover" style="background-image:url('uploads/ben_img.jpg');">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-7 col-sm-12">
                    <div class="customwidget text-left">
                        <h1>Download our app</h1>


                    </div>
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <footer class="footer">
        <div class="container" id="aboutdiv">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <img style="height:35px;" src="@devInfo.FavIcon" alt="">
                            <small>App Landing</small>
                        </div>

                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>
                        @if (devInfo != null)
                        {
                                <ul class="footer-links">
                                    <li><a href="mailto:@devInfo.Email">Contact Us</a></li>
                                    <li><a href="#">@devInfo.Site</a></li>
                                    <li><a href="/privacy">Privacy Terms</a></li>
                                    <li>@devInfo.Address</li>
                                </ul>

                                <!-- end links -->
                        }

                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="footer-distributed widget clearfix">
                        <div class="widget-title">
                            <h3>About</h3>
                            <p>
                                Thank you for enjoying our apps.
                            </p>
                        </div>

                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Social</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-github"></i> Github</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">
                        All Rights Reserved. &copy; 2011-2019 <a href="#">CloudLab Studio</a>
                        Design By :
                        <a href="https://html.design/">CloudLab Studio Team</a>
                    </p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>



</div>
@code {
    Helpers.DevInfo devInfo = null;
    protected override async void OnInitialized()
    {
        base.OnInitialized();
        devInfo = await Helpers.InfoHelper.GetDevInfoAsync();
        StateHasChanged();
    }
}