<section>
    <!--<span class="icon fa-camera major accent2"></span>-->
    <a href="/systempanel">
        <img style="margin:auto;" src="images/appicons/appicon.png">
        <h3>SystemPanel 2</h3>
        <p>Keep your Android in perfect running order.</p>
    </a>
</section>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    [Parameter]
    
}
