<section>
    <!--<span class="icon fa-camera major accent2"></span>-->
    <a href="@Item.Url" target="_blank">
        <img style="margin:auto;" src="@Item.Image">
        <h3>@Item.Title</h3>
        <p>@Item.Description</p>
    </a>
</section>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    [Parameter]
    public AppItem  Item { get; set; }
}
