<section style="background-color:whitesmoke;">
    <!--<span class="icon fa-camera major accent2"></span>-->
    <a href="@Item.Url" target="_blank">
        <img style="margin:auto; margin-left:-40px;" src="@Item.Image">
        <h3 style="color:black; font-weight:bolder;">@Item.Title</h3>
        <p style="color:black; font-weight:500;">@Item.Description</p>
    </a>
</section>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    [Parameter]
    public AppItem  Item { get; set; }
}
